<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Add Item ao Shopping List</title>
</head>
<body>
    <div class="container" id="wrapper">
        <form>
            <div class="input-field">
                <input type="text" id="item" class="validate" autofocus>
                <label for="item">Digite o item</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Add Item</button>
        </form>
    </div>

    <script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script>
        const electron = require('electron');
        const {ipcRenderer} = electron;

        const form = document.querySelector('form');
        form.addEventListener('submit', submitForm);

        function submitForm(e) {
            e.preventDefault();
            const item = document.querySelector('#item').value;

            ipcRenderer.send('item:add', item);
        }
    </script>
</body>
</html>